ul {
list-style: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #FFFFFF;
font-family: 'Fira Sans', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 12px;
opacity: 0.4;
width: 100%;
display: flex;
justify-content: space-evenly;
}

li {
float: left;
}

li a {
display: block;
color: #000000;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.button a {
overflow: hidden;
text-decoration: none;
color: #b67d7d;
}


.button2 a {
  overflow: hidden;
  text-decoration: none;
  color: #000000;
}

p {
font-family: 'Fira Sans', sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 24px;
color: rgba(0, 0, 0, 0.6);
}

h4 {
font-family: 'Frank Ruhl Libre', serif;
font-weight: bold;
font-size: 16px;
line-height: 20px;
}


.wrapper {
  width: 70vw;
  margin: auto;
}

/* FIRST SECTION */
.container1 {
  display: grid;
  min-height: 544px;
  grid-template-columns: repeat(6, 1fr); 
  grid-template-rows: repeat(8, 1fr); 
  grid-column-gap: 0px;
  grid-row-gap: 0px;
} 
.div1 {
  display: grid;
  min-height: 544px;
  grid-area: 1 / 1 / 9 / 4;
  background-color: #C7DDEA; 
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(8, 1fr); 
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
}
  
.div1-child1 {
   grid-area: 2 / 1 / 5 / 4;
   margin-left: 130px;

  } 
.div1-child2 { 
  grid-area: 5 / 1 / 7 / 3;
  margin-left: 130px;
} 
.div1-child3 {
  grid-area: 5 / 2 / 9 / 4;

} 

.div2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-width: 272px;
  grid-area: 1 / 4 / 5 / 7;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: #F17949;
  
} 

.div3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-width: 272px;
  grid-area: 5 / 4 / 9 / 7;
  grid-template-columns: repeat(6, 1fr); 
  grid-template-rows: repeat(3, 1fr);
  background-color: #FAB131;
} 

/* SECOND SECTION */
.container2 {
  display: flex;
  min-height: 40px;
  background-color: #FFFFFF;
}

/* THIRD SECTION */

.container3 { 
  display: grid; 
  grid-template-columns: repeat(6, 1fr); 
  grid-template-rows: repeat(9, 1fr); 
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  min-height: 612px;
  background-color: #A9A19E;
}

.container3-child1 {
   grid-area: 2 / 1 / 5 / 4;
   display: flex;
   justify-content: center;
   text-align: left;
} 
.container3-child2 { 
  grid-area: 5 / 1 / 6 / 3;
  display: flex;
  justify-content: center;

} 
.container3-child3 { 
  grid-area: 2 / 4 / 6 / 7;
  display: flex;
  justify-content: center;
  align-content: center;
} 

.container3-child4 {
  grid-area: 8 / 2 / 10 / 6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-content: center;
  grid-gap: 5%;
  margin-top: 10%;
}

.cardpic1 { 
  min-height: 200px;
  max-height: 308px;
  min-width: 240px;
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: -90%;
  
}

/* FOURTH SECTION */

.container4 {
  display: grid;
  min-height: 680px;
  background-color: #FAB131;
  grid-template-columns: repeat(6, 1fr); 
  grid-template-rows: repeat(10, 1fr); 
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
}

.container4-child1 {
  grid-area: 4 / 2 / 9 / 6;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
} 
.container4-child2 { 
  grid-area: 1 / 2 / 4 / 6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-content: center;
  margin-top: -25%;
  grid-gap: 5%;
  
} 

.card1 { 
  width: 236px;
  height: 150px;;
  background-color: #C7DDEA;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 30%;
  margin-left: 6%;
}

.card2 { 
  width: 236px;
  height: 150px;;
  background-color: #FAB131;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 30%;
  margin-left: 6%;
}

.card3 { 
  width: 236px;
  height: 150px;;
  background-color: #F17949;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 30%;
  margin-left: 6%;
}

.child {
  height: 100%;
  width: 80%;
}
.adult {
  height: 100%;
  width: 80%;
  
}
.old {
  height: 100%;
  width: 80%;
}


/* FIFTH SECTION */
  
.container5 {
  display: grid;
  min-height: 680px; 
  grid-template-columns: repeat(6, 1fr); 
  grid-template-rows: repeat(10, 1fr); 
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
}
  
.minibox1 { 
  grid-area: 1 / 1 / 6 / 3;
  background-color: #C7DDEA;
  min-height: 340px;
  font-family: Frank Ruhl Libre;
  font-weight: 900;
  font-size: 45px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
} 
.minibox2 { 
  grid-area: 1 / 3 / 6 / 5;
  background-color: #FFFFFF;
  min-height: 340px;
  font-family: Fira Sans;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
} 
.minibox3 { 
  grid-area: 1 / 5 / 6 / 7; 
  background-color: #EBEBEB;
  min-height: 340px;
  font-family: Fira Sans;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.minibox4 { 
  grid-area: 6 / 1 / 11 / 3; 
  background-color: #FFFFFF;
  min-height: 340px;
  font-family: Fira Sans;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
} 
.minibox5 { 
  grid-area: 6 / 3 / 11 / 5; 
  background-color: #F17949;
  min-height: 340px;
  font-family: Fira Sans;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
} 
.minibox6 { 
  grid-area: 6 / 5 / 11 / 7; 
  background-color: #FFFFFF;
  min-height: 340px;
  font-family: Fira Sans;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
} 


/* SIXTH SECTION */

.container6 {
background-color: #A9A19E;
min-height: 68px;
display: flex;
justify-content: center;
flex-direction: column;
text-align: center;
}


.takemeupagain {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/* SEVENTH SECTION */

.container7 {
  background-color: #777574;
min-height: 340px;
}


.learnmore {
color: #FFFFFF;
font-family: 'Frank Ruhl Libre', serif;
font-weight: 900;
font-size: 45px;
line-height: 100%;
letter-spacing: -0.02em;
}


.covered {
color: #000000;
font-family: 'Frank Ruhl Libre', serif;
font-weight: 900;
font-size: 45px;
line-height: 100%;
letter-spacing: -0.02em;
}

.jointoday {
color: #FFFFFF;
font-family: 'Frank Ruhl Libre', serif;
font-weight: 900;
font-size: 45px;
line-height: 100%;
letter-spacing: -0.02em;
}

.personal {
color: #FFFFFF;
font-family: 'Frank Ruhl Libre', serif;
font-weight: 900;
font-size: 45px;
line-height: 100%;
letter-spacing: -0.02em;
}

.aboutus {
color: #FFFFFF;
font-family: 'Frank Ruhl Libre', serif;
font-weight: 900;
font-size: 45px;
line-height: 100%;
letter-spacing: -0.02em;
}

.button {
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  border-radius: 200px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
  height: 20%;
  width: 50%;
}

.button2 {
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  border-radius: 200px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
  height: 40%;
  width: 30%;
}